<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Test 2nd lecture</title>

</head>
<body>
    <div id="app">

        <!-- <select name="selectas" id="selectas">
            <option value="" v-on:click="onChange(author.userId)" v-for="author in authors">{{ author.id }} | {{ author.name }}</option>
        </select> -->
        
        <!-- PIRMAS VARIANTAS MANO -->
        <select class="form-control" v-on:change="changeAuthor()" id="authorSelect">
            <option value="0">- show all - [{{ none_count }}]</option>
            <option v-for="a in authors" :value="a.id">{{a.id}} | {{a.name}} [{{a.commentsCount}}]</option>
        </select>
        <!-- ANTRAS VARIANTAS JUSTINO -->
        <!-- <select class="form-control" v-model="authorId" id="authorSelect">
            <option value="0">- show all - [{{ none_count }}]</option>
            <option v-for="a in authors" :value="a.id">{{a.id}} | {{a.name}} [{{a.commentsCount}}]</option>
        </select> -->

        <div>
            <ul id="example-1">
                <li v-for="post in postsByAuthor"> 
                    <div> <span style="color:red;">{{ post.id }}</span> |
                        <span style="color:blue;">{{ post.title }}</span>
                        <span style="color:green;">{{ post.body }}</span>
                        <button v-on:click="removePost(post.id)">X</button>
                        <br><br>
                        </div>
                </li>
            </ul>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="js/index-vue.js"></script>
</body>
</html>